.header{
    width:100%;
    height: 180px; 
    background-color:green;
    border-style:ridge;
}
.cuadroinicio{
    width:100%;
    height: 450px; 
    background-color:grey;
    border-style:ridge;
}
.cuadrofinal{
    width:100%;
    height: 50px; 
    border-style:ridge;
}
.cuadros{
    width: 32.83%;
    height: 445px;
    display:inline-block;
    border-style:ridge;
}