.header{
    width:100%;
    height: 250px; 
    background-color:orange;
    border-style:ridge;
    display:inline-block;
}
.header2{
    width:100%;
    height: 595px; 
    border-style:ridge;
    display:inline-block;
}
.cuadro1{
    width:250px;
    height: 587px; 
    border-style:ridge;
    background-color:grey;
    display:inline-block;
    float:left;
}
.cuadro2{
    width:1283px;
    height:501px; 
    float:left;
    display:inline-block;
}
.cuadro3{
    width:200px;
    height: 587px; 
    border-style:ridge;
    background-color:grey;
    display:inline-block;
    float:right;
}
.cuadrocentral{
    width: 400px;
    height: 400px; 
    border-style:ridge;
    background-color:grey;
    display:inline-block;  
    margin-top: 95px;
    margin-left: 240px;
}
.cuadrocentral2{
    width: 400px;
    height: 400px; 
    border-style:ridge;
    background-color:grey;
    display:inline-block;  
    margin-top: 95px;
    margin-left: 50px;
}