.header{
    width:100%;
    height: 180px; 
    background-color:green;
    border-style:ridge;
}
.cuadroinicio{
    width:361px;
    height: 450px; 
    background-color:grey;
    border-style:ridge;
    display: inline-block;
    float:left;
}
.cuadro1{
    width:200px;
    height: 445px;
    border-style:ridge;
    float:left
}
.cuadro2{
    width:149px;
    height: 445px;
    border-style:ridge;
    float:left;
}
.cuadroinicio2{
    width:78.70%;
    height: 212px; 
    background-color:grey;
    border-style:ridge;
    display: inline-block;
    float: left;
}
.cuadroinicio3{
    width:78.70%;
    height: 232px; 
    background-color:grey;
    border-style:ridge;
    display: inline-block;
    float: left;
}