.header{
    width:770px;
    height: 150px; 
    background-color:orange;
    border-style:ridge;
    display: block;
}
.header2{
    width:100%;
    height: 595px; 
    border-style:ridge;
    display:inline-block;  
}
.cuadro1{
    width:770px;
    height: 350px; 
    border-style:ridge;
    background-color:grey;
    display:block;
}
.cuadro3{
    width:382px;
    height: 500px; 
    border-style:ridge;
    background-color:burlywood;
    display:inline-block;
}
.cuadro4{
    width:770px;
    height: 84px; 
    border-style:ridge;
    background-color:greenyellow;
    display:block; 
}
.cuadro5{
    width:382px;
    height: 500px; 
    border-style:ridge;
    background-color:aqua;
    display:inline-block;
}