.header{
    width:100%;
    height: 250px; 
    background-color:orange;
    border-style:ridge;
    display:inline-block;
}
.header2{
    width:100%;
    height: 595px; 
    border-style:ridge;
    display:inline-block;
}
.cuadro1{
    width:20%;
    height: 587px; 
    border-style:ridge;
    background-color:grey;
    display:inline-block;
    float:left;
}
.cuadro2{
    width:60.97%;
    height:501px; 
    border-style:ridge;
    float:left;
    display:inline-block;
}
.cuadro3{
    width:18%;
    height: 587px; 
    border-style:ridge;
    background-color:grey;
    display:inline-block;
    float:right;
}
.cuadro4{
    width:60.97%;
    height: 80px; 
    border-style:ridge;
    background-color:greenyellow;
    display:inline-block;
    text-align: center;
    float:bottom;
    
}
.cuadrocentral{
    width: 300px;
    height: 300px; 
    border-style:ridge;
    background-color:grey;
    display:inline-block;  
    margin-top: 95px;
    margin-left: 180px;
}
.cuadrocentral2{
    width: 300px;
    height: 300px; 
    border-style:ridge;
    background-color:grey;
    display:inline-block;  
    margin-top: 95px;
    margin-left: 50px;
}