@media screen and (max-width: 700px) {
    div.header {
    }
    div.cuadro1{
    width:100%;
    height: 350px; 
    border-style:ridge;
    background-color:grey;
    display:block;
    }
    div.cuadro3{
    width:50%;
    height: 480px; 
    border-style:ridge;
    background-color:burlywood;
    display:inline-block;
    float:left;
}
.cuadro3{
    width:50%;
    height: 500px; 
    border-style:ridge;
    background-color:burlywood;
    display:inline-block;
    float:left;
}
.cuadro5{
    width:50%;
    height: 500px; 
    border-style:ridge;
    background-color:aqua;
    display:inline-block;
    float:left;
}
}
@media screen and (min-width: 499px) {
.header{
    width:100%;
    height: 200px; 
    background-color:orange;
    border-style:ridge;
    display:inline-block;
}
.header2{
    width:100%;
    height: 595px; 
    border-style:ridge;
    display:inline-block;
}
.cuadro1{
    width:32.97%;
    height: 500px; 
    border-style:ridge;
    background-color:grey;
    display:inline-block;
    float:left;
}
.cuadro3{
    width:33%;
    height: 500px; 
    border-style:ridge;
    background-color:burlywood;
    display:inline-block;
    float:left;
}
.cuadro4{
    width:99.9%;
    height: 84px; 
    border-style:ridge;
    background-color:greenyellow;
    display:inline-block;
    text-align: center;
    float:bottom;
    
}
.cuadro5{
    width:33%;
    height: 500px; 
    border-style:ridge;
    background-color:aqua;
    display:inline-block;
    float:left;
}
}

